/*variables*/

:root {
    /*color*/
    --color-custom-primary: hsla(7, 72%, 57%, 1);
    --color-custom-primary-hover : hsla(7, 68%, 47%, 1);
    --color-custom-primary-active: hsla(7, 60%, 36%, 1);
    --color-custom-on-primary: hsla(0, 0%, 100%, 1);
    --color-custom-primary-subtle: hsla(7, 72%, 94%, 1);
    --color-custom-primary-subtle-hover: hsla(7, 72%, 92%, 1);
    --color-custom-primary-subtle-active: hsla(7, 72%, 90%, 1);
    --color-custom-on-primary-subtle: hsla(7, 60%, 14%, 1);
    --color-custom-primary-subtle-var: hsla(7, 72%, 83%, 1);
    --color-custom-secondary: hsla(178, 40%, 45%, 1);
    --color-custom-secondary-hover: hsla(178, 55%, 35%, 1);
    --color-custom-secondary-active: hsla(178, 55%, 27%, 1);
    --color-custom-on-secondary: hsla(0, 0%, 100%, 1);
    --color-custom-secondary-subtle: hsla(178, 50%, 93%, 1);
    --color-custom-secondary-subtle-hover: hsla(178, 50%, 90%, 1);
    --color-custom-secondary-subtle-active: hsla(178, 50%, 88%, 1);
    --color-custom-on-secondary-subtle: hsla(178, 55%, 10%, 1);
    --color-custom-secondary-subtle-var: hsla(178, 50%, 76%, 1);
    --color-custom-tertiary: hsla(42, 50%, 44%, 1);
    --color-custom-tertiary-hover: hsla(42, 60%, 35%, 1);
    --color-custom-tertiary-active: hsla(42, 60%, 23%, 1);
    --color-custom-on-tertiary: hsla(0, 0%, 100%, 1);
    --color-custom-tertiary-subtle: hsla(42, 50%, 92%, 1);
    --color-custom-tertiary-subtle-hover: hsla(42, 50%, 90%, 1);
    --color-custom-tertiary-subtle-active: hsla(42, 60%, 27%, 1);
    --color-custom-on-tertiary-subtle: hsla(42, 60%, 10%, 1);
    --color-custom-tertiary-subtle-var: hsla(42, 50%, 79%, 1);
    --color-fixed-base: hsla(210, 2%, 42%, 1);
    --color-fixed-base-hover: hsla(210, 2%, 33%, 1);
    --color-fixed-base-active: hsla(200, 2%, 24%, 1);
    --color-fixed-on-base: hsla(0, 0%, 100%, 1);
    --color-fixed-base-subtle: hsla(210, 2%, 94%, 1);
    --color-fixed-base-subtle-hover: hsla(210, 2%, 92%, 1);
    --color-fixed-base-subtle-active: hsla(210, 2%, 89%, 1);
    --color-fixed-on-base-subtle: hsla(200, 2%, 10%, 1);
    --color-fexed-info: hsla(218, 50%, 47%, 1);
    --color-fixed-info-hover: hsla(218, 50%, 37%, 1);
    --color-fixed-info-active: hsla(218, 50%, 28%, 1);
    --color-fixed-on-info: hsla(0, 0%, 100%, 1);
    --color-fixed-info-subtle: hsla(218, 50%, 94%, 1);
    --color-fixed-info-subtle-hover: hsla(218, 50%, 92%, 1);
    --color-fixed-info-subtle-active: hsla(218, 50%, 90%, 1);
    --color-fixed-on-info-subtle: hsla(218, 50%, 10%, 1);
    --color-fixed-sucess: hsla(87, 35%, 43%, 1);
    --color-fixed-sucess-hover: hsla(87, 40%, 34%, 1);
    --color-fixed-sucess-active: hsla(87, 40%, 26%, 1);  
    --color-fixed-on-sucess: hsla(0, 0%, 100%, 1);    
    --color-fixed-sucess-subtle: hsla(87, 40%, 91%, 1);
    --color-fixed-sucess-subtle-hover: hsla(88, 39%, 89%, 1);
    --color-fixed-sucess-subtle-active: hsla(87, 40%, 87%, 1);
    --color-fixed-on-sucess-subtle: hsla(87, 40%, 10%, 1);
    --color-fixed-warning: hsla(28, 50%, 44%, 1);
    --color-fixed-warning-hover: hsla(28, 60%, 35%, 1);
    --color-fixed-warning-active: hsla(28, 60%, 26%, 1);
    --color-fixed-on-warning: hsla(0, 0%, 100%, 1);
    --color-fixed-warning-subtle: hsla(28, 60%, 93%, 1);
    --color-fixed-warning-subtle-hover: hsla(28, 60%, 91%, 1);
    --color-fixed-warning-subtle-active: hsla(28, 60%, 89%, 1);
    --color-fixed-on-warning-subtle: hsla(28, 60%, 12%, 1);
    --color-fixed-error: hsla(354, 55%, 45%, 1);
    --color-fixed-error-hover: hsla(354, 60%, 41%, 1);
    --color-fixed-error-active: hsla(354, 60%, 30%, 1);
    --color-fixed-on-error: hsla(0, 0%, 100%, 1);
    --color-fixed-error-subtle: hsla(354, 70%, 95%, 1);
    --color-fixed-error-subtle-hover: hsla(354, 60%, 92%, 1);
    --color-fixed-error-subtle-active: hsla(354, 60%, 90%, 1);
    --color-fixed-on-error-subtle: hsla(354, 60%, 14%, 1);
    --color-fixed-surface-white: hsla(0, 0%, 100%, 1);
    --color-fixed-surface-gray: hsla(210, 2%, 94%, 1);
    --color-fixed-on-surface: hsla(200, 2%, 10%, 1);
    --color-fixed-on-surface-subtle: hsla(210, 2%, 42%, 1);
    --color-fixed-stroke-gray: hsla(210, 2%, 78%, 1);
    --color-fixed-stroke-white: hsla(0, 0%, 100%, 1);
    --color-opacity-0: hsla(0, 0%, 0%, 0);
    --color-opacity-5: hsla(0, 0%, 0%, 0.05);
    --color-opacity-10: hsla(0, 0%, 0%, 0.1);
    --color-opacity-15: hsla(0, 0%, 0%, 0.15);
    --color-opacity-50: hsla(0, 0%, 0%, 0.5);

    /*border radius*/
    --border-radius-none: 0px;
    --border-radius-xxs: 4px;
    --border-radius-xs: 6px;
    --border-radius-s: 8px;
    --border-radius-m: 12px;
    --border-radius-l: 16px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 24px;
    --border-radius-full: 1000px;

    /*border-size*/
    --border-none: 0px;
    --border-s: 1px;
    --border-m: 2px;

    /*icon-size*/
    --icon-size-s: 16px;
    --icon-size-m:20px;
    --icon-size-l:24px;
    --icon-size-xl: 32px;

    /*padding*/
    --padding-none: 0px;
    --padding-xxxs: 1px;
    --padding-xxs: 2px;
    --padding-xs: 4px;
    --padding-s: 6px;
    --padding-m: 8px;
    --padding-l: 12px;
    --padding-xl: 16px;
    --padding-xxl: 20px;
    --padding-xxxl: 24px;

    /*margin*/
    --margin-none: 0px;
    --margin-xxs: 2px;
    --margin-xs: 4px;
    --margin-s: 6px;
    --margin-m: 8px;
    --margin-12:12px;
    --margin-l: 16px;
    --margin-xl: 20px;
    --margin-xxl: 24px;

    /*gap*/
    --gap-none: 0px;
    --gap-xxs: 2px;
    --gap-xs: 4px;
    --gap-s: 6px;
    --gap-m: 8px;
    --gap-l: 12px;
    --gap-xl: 16px;
    --gap-xxl: 20px;
    --gap-xxxl: 24px;

    /*typography*/
    --font-family-base: 'Roboto', sans-serif;
    --font-family-brand: 'Reddit Sans', sans-serif;
    --font-size-40: 40px;
    --font-size-32: 32px;
    --font-size-24: 24px;
    --font-size-20: 20px;
    --font-size-18: 18px;
    --font-size-16: 16px;
    --font-size-14: 14px;
    --font-size-12: 12px;

    /*shadows*/
    --shadow-s: 0px 1px 6px 1px rgba(25, 25, 25, 0.15);
}

/*--------styles---------*/
/*global styles*/
* {
    box-sizing: border-box;
}
body, html {
    margin: var(--margin-none);
    padding: var(--padding-none);
    background-color: var(--color-fixed-surface-gray);
}

#body-login {
    background-image: url(bg-login.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#header {
    background-color: var(--color-custom-primary);
    color: var(--color-custom-on-primary);
    padding: var(--padding-xl);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navigation {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-m);
}

#main {
    padding: var(--padding-xl);
    display: flex;
    flex-direction: row;
    gap: var(--gap-xl);
}

#main-login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--padding-xl);
    gap: var(--gap-xl);
    height: 100vh;
}

#aside {
    background-color: var(--color-fixed-surface-white);
    padding: var(--padding-xxl);
    border-radius: var(--border-radius-xl);
    gap: var(--gap-xxl);
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 100vh;
    width: 20vw;
    min-width: 180px;
    max-width: 280px;
    box-shadow: var(--shadow-s);
}

#aside.contracted {
    width: 8vw;
}

/*logo & avatar*/
#logo-small {
    width: 42px;
    height: 42px;
}

.avatar {
    min-width: 42px;
    min-height: 42px;
    border-radius: var(--border-radius-s);
    background-color: var(--color-custom-primary-subtle);
    color: var(--color-custom-primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
}

.avatar-inverted {
    min-width: 42px;
    min-height: 42px;
    border-radius: var(--border-radius-s);
    background-color: var(--color-custom-primary);
    color: var(--color-custom-on-primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*div clases*/
.user-info {
    display: flex;
    padding-bottom: var(--padding-xxl);
    flex-direction: row;
    gap: var(--gap-m);
    align-items: flex-start;
    align-self: stretch;
    border-bottom: var(--border-s) solid var(--color-fixed-stroke-gray);
}

.info {
    display: flex;
    flex-direction: column;
    gap: var(--gap-none);
}

.form {
    display: flex;
    padding-top: var(--padding-xxl);
    padding-bottom: var(--padding-xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    flex-direction: column;
    gap: var(--gap-xxxl);
    align-items: center;
    background-color: var(--color-fixed-surface-white);
    border-radius: var(--border-radius-xl);
    width: 100%;
    box-sizing: border-box;
    box-shadow: var(--shadow-s)
}

.text-input {
    width: 100%;
    box-sizing: border-box;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: var(--gap-none);
}

.label {
    color: var(--color-fixed-on-surface-subtle);
    padding: var(--padding-xs);
}

.content {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-xl);
    width: 100%;
}

.content-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 460px;
    gap: var(--gap-xl);
    flex: 1 0 0;
    text-align: center;
    color: var(--color-fixed-on-surface-subtle);
}

.fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    width: 100%;
    border: var(--border-none);
    padding: var(--padding-none);
}

.check-radio {
    display: inline-flex;
    padding-top: var(--padding-s);
    padding-bottom: var(--padding-s);
    align-items: start;
    gap: var(--gap-m)
}

.legend {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: var(--font-size-14);
    line-height: 20px;
    color: var(--color-fixed-on-surface-subtle);
}

.privacy {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: var(--gap-xs);
}

/*UI components*/

/*buttons*/

.button {
    display: flex;
    min-height: 42px;
    padding-left: var(--padding-l);
    padding-right: var(--padding-l);
    padding-top: var(--padding-m);
    padding-bottom: var(--padding-m);
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-s);
    gap: var(--gap-m);
}

.button:disabled {
opacity: 600%;
cursor: not-allowed;
}

.button.primary.solid {
    background: var(--color-custom-primary);
    border: var(--border-s) solid var(--color-custom-primary);
    color: var(--color-custom-on-primary);
}

.button.primary.solid:hover {
    background: var(--color-custom-primary-hover);
    border: var(--border-1) solid var(--color-custom-primary-hover);
    color: var(--color-custom-on-primary);
    }

.button.primary.solid:active {
    background: var(--color-custom-primary-active);
    border: var(--border-1) solid var(--color-custom-primary-active);
    color: var(--color-custom-on-primary);
    }
    
.button.primary.clear {
    background: var(--color-opacity-0);
    border: var(--border-s) solid var(--color-opacity-0);
    color: var(--color-custom-primary);
}

.button.primary.clear:hover {
    background: var(--color-custom-primary-subtle-hover);
    border: var(--border-1) solid var(--color-custom-primary-subtle-hover);
    color: var(--color-custom-primary-hover);
    }

.button-primary.clear:active {
    background: var(--color-custom-primary-subtle-active);
    border: var(--border-1) solid var(--color-custom-primary-subtle-active);
    color: var(--color-custom-primary-active);
    }

.icon-button {
    display: flex;
    min-width: 42px;
    min-height: 42px;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-s);
}

.icon-button:disabled {
opacity: 60%;
cursor: not-allowed;
}

.icon-button.primry.outlined {
    background: var(--color-fixed-surface-white);
    border: 1px solid var(--color-custom-primary);
    color: var(--color-custom-primary);
    font-size: var(--font-size-20);
}

.icon-button-primry-outlined:hover {
    background: var(--color-custom-primary-subtle-hover);
    border: 1px solid var(--color-custom-primary-hover);
    color: var(--color-custom-primary-hover);
    font-size: var(--font-size-20);
}

.icon-button-primry-outlined:active {
    background: var(--color-custom-primary-subtle-active);
    border: 1px solid var(--color-custom-primary-active);
    color: var(--color-custom-primary-active);
    font-size: var(--font-size-20);
}

/*links*/

.a
{
    line-height: 25px;
    padding-left: var(--padding-l);
    padding-right: var(--padding-l);
    padding-top: var(--padding-m);
    padding-bottom: var(--padding-m);
    border-radius: var(--border-radius-s);
    width: auto;
    align-self: flex-start;
    text-decoration: none;
}

.a.primary {
    background: var(--color-opacity-0);
    border: var(--border-s) solid var(--color-opacity-0);
    color: var(--color-custom-primary);
}

.a.primary:hover {
    background: var(--color-custom-primary-subtle-hover);
    border: var(--border-s) solid var(--color-custom-primary-subtle-hover);
    color: var(--color-custom-primary-hover);
    text-decoration: underline;
    }

.a.primary:active {
    background: var(--color-custom-primary-subtle-active);
    border: var(--border-s) solid var(--color-custom-primary-subtle-active);
    color: var(--color-custom-primary-active);
    }

/*inputs*/

.text-input {
    display: flex;
    flex-direction: row;
    min-height: 40px;
    padding: var(--padding-xs);
    gap: var(--gap-xs);
    border: var(--border-s) solid var(--color-fixed-stroke-gray);
    border-radius: var(--border-radius-m);
    background: var(--color-fixed-surface-white);
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: var(--font-size-16);
    line-height: 20px;
}

.text-input.no-icon{
    padding-left: var(--padding-m);
}

.text-input:hover{
    border: var(--border-s) solid var(--color-fixed-base-hover);
}

.text-input:focus {
    border: var(--border-s) solid var(--color-custom-primary);
    outline: none;
}

.checkbox {
    accent-color: var(--color-custom-primary);
    width: 20px;
    height: 20px;
    border-radius: var(--border-radius-xxs);
    cursor: pointer;
}

/*menu*/
#aside ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--gap-none);
    width: 100%;
}

.menu-item.first-level {
display: flex;
padding: var(--padding-m);
margin: var(--margin-none);
align-items: center;
gap: var(--gap-m);
align-self: stretch;
background: var(--color-opacity-0);
border: solid var(--border-s) var(--color-opacity-0);
border-radius: var(--border-radius-s);
color: var(--color-fixed-on-surface);
}

.menu-item.first-level:hover {
    background: var(--color-fixed-base-subtle-hover);
    border: solid var(--border-s) var(--color-fixed-base-subtle-hover);
    color: var(--color-fixed-on-base-subtle);
}

.menu-item.first-level:focus {
    background: var(--color-fixed-base-subtle-active);
    border: solid var(--border-s) var(--color-fixed-base-subtle-active);
    color: var(--color-fixed-on-base-subtle);
}

.menu-item.first-level:active {
    background: var(--color-custom-primary-subtle-active);
    border: solid var(--border-s) var(--color-custom-primary-subtle-active);
    color: var(--color-custom-on-primary-subtle);
}

.menu-item.first-level:disabled {
    opacity: 60%;
    cursor: not-allowed;
}

.menu-item.second-level {
display: flex;
padding: var(--padding-m);
margin: var(--margin-none);
align-items: center;
gap: var(--gap-m);
align-self: stretch;
background: var(--color-opacity-0);
border: solid var()var(--border-s) var(--color-opacity-0);
border-radius: var(--border-radius-none);
color: var(--color-fixed-on-surface);
}

.menu-item.second-level:hover {
    background: var(--color-fixed-base-subtle-hover);
    border: solid var(--border-s) var(--color-fixed-base-subtle-hover);
    color: var(--color-fixed-on-base-subtle);
}

.menu-item.second-level:focus {
    background: var(--color-fixed-base-subtle-active);
    border: solid var(--border-s) var(--color-fixed-base-subtle-active);
    color: var(--color-fixed-on-base-subtle);
}

.menu-item.second-level:active {
    background: var(--color-custom-primary-subtle-active);
    border: solid var(--border-s) var(--color-custom-primary-subtle-active);
    color: var(--color-fixed-on-base-subtle);
}

.menu-item.second-level:disabled {
    opacity: 60%;
    cursor: not-allowed;
}

.menu-item.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: var(--border-radius-s);
    gap: var(--gap-none);
    background-color: black;
    width: 100%;
    overflow: hidden;
}

/*typography styles*/
h1 {
    font-family: var(--font-family-brand);
    font-size: var(--font-size-40);
    font-weight: 700;
    line-height: 48px;
    color: var(--color-custom-primary);
    margin: var(--margin-none);
}


h3 {
    font-family: var(--font-family-brand);
    font-size: var(--font-size-24);
    font-weight: 700;
    line-height: 28px;
    color: var(--color-fixed-on-surface-subtle);
    margin: var(--margin-none);
    
}

.h3--on-primary{
    font-family: var(--font-family-brand);
    font-size: var(--font-size-24);
    font-weight: 700;
    line-height: 28px;
    color: var(--color-custom-on-primary);
    margin: var(--margin-none);
}

.title_medium {
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: var(--font-size-18);
    line-height: 24px;
    margin: var(--margin-none);
}

.label_large {
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: var(--font-size-16);
    line-height: 20px;
    margin: var(--margin-none);
}

.label_medium {
    font-family: var(--font-family-base);
    font-weight: 500;
    font-size: var(--font-size-14);
    line-height: 20px;
    color: var(--color-fixed-on-surface-subtle);
    margin: var(--margin-none);
}

.body_large {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: var(--font-size-16);
    line-height: 24px;
    color: var(--color-fixed-on-surface);
    margin: var(--margin-none);
}

.body_medium {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: var(--font-size-14);
    line-height: 20px;
    color: var(--color-fixed-on-surface);
    margin: var(--margin-none);
}

.body-medium--subtle {
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: var(--font-size-14);
    line-height: 20px;
    color: var(--color-fixed-on-surface-subtle);
    margin: var(--margin-none);
}

@media (max-width: 768px) {
    #main-login {
        flex-direction:column;
    }

    .content-login {
    max-width: none;
}

}